{#{% extends "base.html" %}#}
{#{% block content %}#}
{#    <ul>#}
{#        <li><a href="/users/">users</a></li>#}
{#        <li><a href="/users/3">user ID:3</a></li>#}
{#        <li><a href="/users/create">user create</a></li>#}
{#        <HR>#}
{#        <li><a href="/books/">books</a></li>#}
{#        <li><a href="/books/7">book ID:7</a></li>#}
{#        <li><a href="/books/create">book create</a></li>#}
{#        <HR>#}
{#        <li><a href="/purchases/">purchases</a></li>#}
{#        <li><a href="/purchases/11">purchase ID:11</a></li>#}
{#        <li><a href="/purchases/create">purchase create</a></li>#}
{#    </ul>#}
{#{% endblock %}#}
