{% extends "base.html" %}
{% block content %}
    <h1>Books</h1>
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>author</th>
            <th>year</th>
            <th>price</th>
        </tr>
        {% for book in book_list %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.price }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
